<configuration>
  <system.webServer>
    <security>
        <requestFiltering allowDoubleEscaping="true"/>
    </security>
    <rewrite>
      <rules>
        <rule name="rule 1f">
	<match url="news/(.*)/(.*)/(.*)\.html$"  />
	<action type="Rewrite" url="news.php?name={R:1}&amp;cat={R:2}"  />
      </rule>
      <rule name="rule 2f">
	<match url="category/(.*)/(.*)\.htm$"  />
	<action type="Rewrite" url="categories.php?id={R:1}"  />
      </rule>
      <rule name="rule 3f">
	<match url="profile/(.*)"  />
	<action type="Rewrite" url="profile.php?id=?id={R:1}"  />
      </rule>
     </rules>
    </rewrite>
  </system.webServer>
</configuration>